$primary: #f8f9fa;
$secondary: #E4A79D;
$white: #fff;
$white-secondary: #fafafa;
$green: #7fb069;
$text-black: #232323;
$yellow: #F0C808;
$black: #000000;
$purpur: #6f42c1;
$background-green: #fefae6;